{% include "admin/header.njk" %}
{% include "admin/sidebar.njk" %}
     <main style="margin-top: 58px;">
            <div class="container pt-4">
    {% block content %}
        
                
         
    {% endblock %}
       </div>
    </main>

{% include "admin/footer.njk" %}